body {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    background: radial-gradient(#101010 30%, #000);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1070px;
    margin: 30px 0;
}

.logo_box {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    animation: shining2 2s infinite alternate ease-in-out;
}
@keyframes shining2 {
    0% {
        color: #fff;
    }
    100% {
        color: rgb(162, 0, 255);
    }
}

.sections_links {
    list-style: none;
    display: flex;
}

.download_resume_btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 100px;
    border: 1px solid #101010;
    background-color: rgb(162, 0, 255);
    color: #fff;
    transition: .2s;
}
.download_resume_btn:hover {
    border-color: rgb(162, 0, 255);
    background-color: #101010;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 1070px;
    margin: 30px 0;
}

.user_box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
}

.user_avatar {
    background-image: url(./images/user-image.jpg);
    width: 300px;
    height: 340px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    border: 5px solid rgba(162, 0, 255, 0.23);
}

.user_information {
    margin-left: 50px;
    color: #9f9f9f;
}

.title_1 {
    font-size: 14px;
    letter-spacing: .5px;
    color: rgb(162, 0, 255);
}

.user_name {
    color: #fff;
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
}

.user_about {
    line-height: 24px;
    letter-spacing: .5px;
}

.option_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #131313;
    transition: .2s;
    border: 1px solid #101010;
    box-shadow: 0 0 400px rgba(118, 0, 186, 0.208);
}

.option_value {
    font-size: 30px;
    font-weight: bold;
    background-color: #181818;
    color: rgb(162, 0, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #fff;
    animation: shining3 2s infinite alternate ease-in-out;
}
@keyframes shining3 {
    0% {
        border-color: #101010;
    }
    100% {
        border-color: rgb(162, 0, 255);
    }
}

.opt_b {
    background-color: rgba(162, 0, 255, 0.23);
    color: #fff;
    cursor: pointer;
}
.opt_b:hover {
    background: none;
    border-color: rgb(162, 0, 255);
    color: rgb(162, 0, 255);
}

.p_v_i {
    background: none;
    border: none;
    font-size: 46px;
    color: inherit;
}

.p_v_i i {
    margin-bottom: 20px;
}

.option_box .main_title {
    letter-spacing: 1px;
    line-height: 24px;
}

.main_title2 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.row_3 {
    flex-direction: column;
    margin: 70px 0;
}

.skills_box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.skill_box {
    width: calc(50% - 70px);
    height: 30px;
    padding: 15px 20px;
    border-radius: 16px;
    margin: 15px 30px 15px 0;
    background-color: #202020;
    position: relative;
}

.skill_information {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(10px, -50%);
    z-index: 2;
    font-size: 14px;
}

.skill_information .value {
    margin-bottom: 3px;
}

.skill_information .title {
    letter-spacing: .5px;
}

.blue_row {
    background-color:rgb(162, 0, 255);
    border-radius: 16px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: shining4 2s alternate infinite ease-in-out;
}
@keyframes shining4 {
    0% {
        background-color: rgb(162, 0, 255);
    }
    100% {
        background-color: rgba(162, 0, 255, 0.23);
    }
}

.projects_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_box {
    width: calc(23.5% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #202020, #101010);
    border-radius: 16px;
}

.image_box {
    width: 100%;
    height: 150px;
    background-position: center;
    background-image: url(./images/Ashianeh.png);
    background-size: cover;
    border-radius: 10px;
}

.project_name {
    width: 100%;
    margin: 15px 0;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
}

.details_btn, .source_btn {
    width: calc(100% - 30px);
    background-color: rgb(162, 0, 255);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(162, 0, 255);
    cursor: pointer;
    transition: .2s;
}
.details_btn:hover {
    background: none;
    color: rgb(162, 0, 255);
}

.source_btn {
    margin-top: 10px;
    background-color: #303030;
    border-color: #303030;
}
.source_btn:hover {
    background: none;
    border-color: #fff;
}

.main_title3 {
    margin-bottom: 30px;
}

.row_4 {
    margin: 30px 0;
}

.message_box {
    display: flex;
    justify-content: space-between;
}

.inf_box {
    display: flex;
    align-items: center;
    margin: 20px 0;
    letter-spacing: .5px;
}

.inf_icon {
    width: 70px;
    height: 70px;
    border-radius: 16px;
    background-color: rgb(162, 0, 255);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 10px;
}

.inf_content .main_title {
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(162, 0, 255);
}

.inf_title {
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border-radius: 16px;
}

form input, textarea {
    width: calc(100% - 30px);
    height: 50px;
    background-color: #202020;
    border: 1px solid #202020;
    outline: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
    color: #fff;
    letter-spacing: .5px;
    transition: .2s;
}
form input:focus, textarea:focus {
    border-color: rgb(162, 0, 255);
}

textarea {
    min-height: 150px;
    margin-bottom: 0;
    resize: vertical;
    padding: 15px;
}

.send_btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(162, 0, 255, 0.474);
    color: #fff;
    padding: 13px 0;
    cursor: pointer;
    transition: .2s;
    border: none;
}
.send_btn:hover {
    background-color: rgb(162, 0, 255);
}

footer {
    width: 100%;
    text-align: center;
    margin: 25px 0 30px 0;
    letter-spacing: .5px;
}

footer span {
    color: rgb(162, 0, 255);
}

.l_b_2 {
    margin-top: 80px;
}